<h1>Listing events</h1>

<table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="900" cellpadding="3" cellspacing="8">
  <tr>
    <th>Gruppa</th>
    <th>Predmet</th>
    <th>Prepod</th>
    <th>Audit</th>
    <th>Para</th>
    <th>Den</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.gruppa %></td>
    <td><%= event.predmet %></td>
    <td><%= event.prepod %></td>
    <td><%= event.audit %></td>
    <td><%= event.para %></td>
    <td><%= event.den %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
